<div class="container mt-3 bg-info text-dark | account">
    <div class="row">
        <div class="col-12 mt-5">
            <h2 class="text-center ">Destroyer 500</h2>
            <img src="" alt="" class="account-img">
            <div class="row p-2 text-light justify-content-center">
                <div class="col-10 bg-dark p-5">
                    <form action="">
                        <div class="form-group">
                            <label for="user">Nombre de Usuario:</label>
                            <input type="text" id="user" name="user" 
                                class="form-control">
                            <label for="name">Nombre:</label>
                            <input type="text" id="name" name="name" 
                                class="form-control">
                            <label for="password">Contraseña:</label>
                            <input type="password" id="password" name="password" 
                                class="form-control">
                            <label for="phrase">Frase:</label>
                            <input type="text" id="phrase" name="phrase" 
                                class="form-control">
                            <label for="wallet">Saldo actual:</label>
                            <input type="number" id="wallet" name="wallet" 
                                class="form-control">

                            <input type="submit" class="btn btn-primary w-100 mt-2"
                            value="Actulaizar Datos">
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

