.tags{
    padding-left: 0px;
    margin-left: 0px;
    .tags-items{
        cursor: pointer;
        padding: 1rem 0.5rem;
        border-top: 1px dotted black;
        border-bottom: 1px dotted black;
    }
}