<nav class="navbar navbar-expand-lg navbar-dark bg-dark text-ligth sticky-top">
    <div class="container-fluid">
      <a class="navbar-brand" routerLink="/games/store">WEB DE VIDEOJUEGOS</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse d-md-flex" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link" routerLink="/games/store">Tienda</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/games/library">Biblioteca</a>
          </li>
          <li class="nav-item" *ngIf="logged">
            <a class="nav-link" routerLink="/games/account">Cuenta</a>
          </li>
        </ul>
        <div class="nav-item d-flex  justify-content-center align-items-center 
          p-2 | user" *ngIf="user">
          <ngx-avatar [name]="user.user" size=40></ngx-avatar>  
          <p class="mb-0 mx-2 text-info text-center">{{user.user}} <br>
            <span class="text-center mt-4 text-light" *ngIf="user.phrase">"{{user.phrase}}"</span>
          </p>
          <a routerLink="/games/wishlist" class="btn btn-primary text-light">WishList</a>
          <button class="btn btn-danger mx-2"
          (click)="logOut()"
          *ngIf="logged">Salir</button>
        </div>
        <div class="nav-item" *ngIf="!user">
          <a routerLink="/auth/login" class="btn btn-primary "
          *ngIf="!logged">Acceder</a>
        </div>
      </div>
      <div class="row justify-content-center align-items-center">

        <div class="input-group">
          <input type="text" class="form-control w-25" #searchgame
            (keyup.enter)="searchGame(searchgame.value)"
            placeholder="Busca tus juegos favoritos" aria-label="Busca tus juegos favoritos" >
          <button class="btn btn-outline-primary" type="button" id="search_button"
            (click)="searchGame(searchgame.value)">Buscar</button>
        </div>
      </div>
    </div>
  </nav>
<div class="container-fluid">
<div class="row ml-0">
    <!-- sidebar -->
    <div class="col-12 col-md-3 px-2 bg-dark text-light">
      <div class="row">        
          <!-- sidebar -->
          <app-sidebar-platform *ngIf="!selected"></app-sidebar-platform>
          <app-sidebar-tags *ngIf="selected"></app-sidebar-tags>
        
      </div>
    </div>
    <!-- content -->
    <div class="col-12 col-md-9 mx-0 px-0">
        <router-outlet></router-outlet>
    </div>
</div>
</div>
<!-- footer -->
<footer class="bg-dark">
    <p class="text-center text-light py-2 mb-0">Desarrollado por Manuel Alberto Medina Gomez</p>
</footer>

