.layout-auth{
    background-image: url("/assets/images/pexels-alexander-kovalev-3977908.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
}