@import '~ngx-owl-carousel-o/lib/styles/scss/owl.carousel';
@import '~ngx-owl-carousel-o/lib/styles/scss/owl.theme.default';
@import '~ngx-toastr/toastr';

// global styles
html{
    scroll-behavior: smooth;
}
ul,ol{
    list-style: none;
}
a{
    text-decoration: none;
}

