.item{
    margin: 0px;
    padding: 0px ; 
    .item-img{
        object-fit: cover;
        height: 300px;
        width: 100%;
    }
    a{
        text-decoration: none;
    }  
    a,i{
        cursor: pointer;
    }
    
}